In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
businesses = pd.read_csv('business_list.csv')

In [4]:
businesses.head()

   Unnamed: 0             business_id  review_count  stars state
0          35  BvYU3jvGd0TJ7IyZdfiN2Q            16    3.5    NC
1          83  RFbMVekR8lU9tPJ8sWrwHg            18    4.0    ON
2         260  tWjfgVtTD5n01Cq9dFWGsA           185    3.5    AB
3         445  8ELlbjnXfZAw4KbQRP3-EQ             8    4.0    QC
4         813  sMzNLdhJZGzYirIWt-fMAg           752    4.0    PA

In [5]:
business_ids = businesses['business_id'].values
print(business_ids[:5])

['BvYU3jvGd0TJ7IyZdfiN2Q' 'RFbMVekR8lU9tPJ8sWrwHg'
 'tWjfgVtTD5n01Cq9dFWGsA' '8ELlbjnXfZAw4KbQRP3-EQ'
 'sMzNLdhJZGzYirIWt-fMAg']

In [6]:
read_review = pd.read_json('review.json', lines=True, chunksize=100000)

In [8]:
reviews = [review.loc[review['business_id'].apply(lambda x: x in business_ids)] for review in read_review]

In [9]:
type(reviews)

list

In [10]:
len(reviews)

67

In [11]:
reviews = pd.concat(reviews)

In [12]:
reviews.shape

(102545, 9)

In [13]:
reviews.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
34,YSUcHqlKMPHHJ_cTrqtNrA,0,2017-12-29 13:55:19,0,E6B-2U2sGG3xgmnNWZAEew,1,Came here on a Thursday night at 6:30 p.m. My ...,0,DbccYu3OppWKl21OanZnTg
36,sMzNLdhJZGzYirIWt-fMAg,0,2015-06-21 00:59:14,0,RLbWoIri29BcQ8yjzsvQLQ,5,This place epitomizes the rumored transformati...,0,_o740mSNRhMNYuPjSJoPLg
88,EgwGTDZ705TwudPJwAY0yQ,0,2011-01-09 00:07:16,0,W6VRRz7mVGZLsidyHelHwg,5,This place is quite possibly my favorite resta...,2,To4ATBBNlnC5gzj0dwXfuA
109,r5PLDU-4mSbde5XekTXSCA,0,2013-01-27 17:54:54,0,lDJIaF4eYRF4F7g6Zb9euw,4,I used to work food service and my manager at ...,2,lb0QUR5bc4O-Am4hNq9ZGg
127,JN6287XepTV2wOiwnq5joA,0,2011-02-13 16:59:31,0,miAbIuIln8YfLoo6rf3MyQ,3,Visited this restaurant after a 3 hour drive t...,0,7-Wb8rDEymidPPfShLX3Yg

In [14]:
reviews.to_csv('reviews_filtered.csv', index=False)